################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestStackApp/.vs/TestStackApp/FileContentIndex/fc099495-3c6f-428d-9d07-581a1c756ca9.vsidx
/TestStackApp/.vs/TestStackApp/FileContentIndex
